**Data Cleaning Project: Analyzing and Cleaning a Customer Dataset**
---

**Project Description**

In this data cleaning project, we work with a customer dataset to analyze and clean the data using Python and the Pandas library. The dataset contains information about customers, including their names, ages, email addresses, and purchase history. The goal of the project is to perform various data cleaning tasks to ensure the dataset is accurate, consistent, and ready for further analysis.

**Task Process**



1. Load the dataset into a Pandas DataFrame.
2. Check for missing values in each column and handle them appropriately (e.g., replace with a default value or drop rows/columns).
3. Remove any duplicates from the dataset.
4. Convert the "Age" column to the appropriate data type (integer).
5. Extract the domain names from the email addresses and create a new column called "Domain" to store them.
6. Split the values in the "Purchase History" column into separate columns for each product. For example, if a customer purchased Product A and Product B, create two columns named "Product A" and "Product B" with binary values (1 if purchased, 0 if not).
7. Calculate and add a new column called "Total Purchases" that contains the count of products purchased by each customer.
8. Save the cleaned dataset to a new file for further analysis.

***Dataset***

https://docs.google.com/spreadsheets/d/11T3RUEixXGTNPEzt_w-aA13OCAPxp9tk80ksGw7uiVk/edit#gid=323589097

**Project Solution**

**Step 1: Loading the dataset into a Pandas DataFrame**

In this step we import the Pandas library and creates a DataFrame to hold our dataset.

In [92]:
import pandas as pd
df= pd.read_excel("C:\\Users\\Anomaly_dataset_Project_1.xlsx")
df

   Customer ID        Name  Age                   Email      Purchase History
0            1    John Doe   25     johndoe@example.com  Product A, Product B
1            2  Jane Smith   32  jane.smith@example.com             Product C
2            3   Alex Wang   28   alex.wang@example.com                   NaN
3            4   Sarah Lee   42   sarah.lee@example.com  Product A, Product C
4            5   Mike Chen   35    mikechen@example.com             Product B

**Step 2: Checking for missing values**

We check for null values in our dataset using '.isnull()'. 

We can check for null values for each entry in our dataset but this is not possible for large data, so we use sum to summarise the null counts.

In [93]:
check_null=df.isnull()
print(check_null)

   Customer ID   Name    Age  Email  Purchase History
0        False  False  False  False             False
1        False  False  False  False             False
2        False  False  False  False              True
3        False  False  False  False             False
4        False  False  False  False             False

**Step 3: Handling missing values**

We will handle missing values by dropping rows with missing values.

PS: Missing data can be addressed by other techniques like imputation (mean, median, mode etc.) or using advanced methods like regression or interpolation.

In [94]:
df = df.dropna()

**Step 4: Check for duplicates**

We check for duplicates using 'duplicated()' function.

In [95]:
#We check for duplicates in our dataset
duplicates = df[df.duplicated()]

#There are no duplicates, buf if there was, we would use "df = df.drop_duplicates()" to remove duplicates

**Step 5: Convert the "Age" column to the appropriate data type (integer).**

In [96]:
df['Age'] = df['Age'].astype(int)
df

C:\Users\DenisW\AppData\Local\Temp\ipykernel_6680\3823048673.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].astype(int)

   Customer ID        Name  Age                   Email      Purchase History
0            1    John Doe   25     johndoe@example.com  Product A, Product B
1            2  Jane Smith   32  jane.smith@example.com             Product C
3            4   Sarah Lee   42   sarah.lee@example.com  Product A, Product C
4            5   Mike Chen   35    mikechen@example.com             Product B

**Step 6: Extract the domain names from the email addresses and create a new column called "Domain" to store them.**

In [97]:
df['Domain'] = df['Email'].str.split('@').str[1]
df

C:\Users\DenisW\AppData\Local\Temp\ipykernel_6680\3928483260.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Domain'] = df['Email'].str.split('@').str[1]

,Customer ID,Name,Age,Email,Purchase History,Domain
0,1,John Doe,25,johndoe@example.com,"Product A, Product B",example.com
1,2,Jane Smith,32,jane.smith@example.com,Product C,example.com
3,4,Sarah Lee,42,sarah.lee@example.com,"Product A, Product C",example.com
4,5,Mike Chen,35,mikechen@example.com,Product B,example.com

**Step 7: Split the values in the "Purchase History" column into separate columns for each product. For example, if a customer purchased Product A and Product B, create two columns named "Product A" and "Product B" with binary values (1 if purchased, 0 if not).**

Here uses a technique known as one-hot encoding to transform categorical data in the "Purchase History" column into a format that can be used for analysis. One-hot encoding is commonly used when dealing with categorical variables in machine learning and data analysis.

In [98]:
# Split values in "Purchase History" into separate columns
products = df['Purchase History'].str.get_dummies(', ')
# Convert the one-hot encoded columns to integers
products = products.astype(int)
df = pd.concat([df, products], axis=1)
df

,Customer ID,Name,Age,Email,Purchase History,Domain,Product A,Product B,Product C
0,1,John Doe,25,johndoe@example.com,"Product A, Product B",example.com,1,1,0
1,2,Jane Smith,32,jane.smith@example.com,Product C,example.com,0,0,1
3,4,Sarah Lee,42,sarah.lee@example.com,"Product A, Product C",example.com,1,0,1
4,5,Mike Chen,35,mikechen@example.com,Product B,example.com,0,1,0

**Step 8: Calculate and add a new column called "Total Purchases" that contains the count of products purchased by each customer.**

In [101]:
df['Total Purchases'] = df.iloc[:, 6:].sum(axis=1)
df

,Customer ID,Name,Age,Email,Purchase History,Domain,Product A,Product B,Product C,Total Purchases
0,1,John Doe,25,johndoe@example.com,"Product A, Product B",example.com,1,1,0,4
1,2,Jane Smith,32,jane.smith@example.com,Product C,example.com,0,0,1,2
3,4,Sarah Lee,42,sarah.lee@example.com,"Product A, Product C",example.com,1,0,1,4
4,5,Mike Chen,35,mikechen@example.com,Product B,example.com,0,1,0,2

**Step 9: Save the cleaned dataset to a new file for further analysis.**

In [102]:
df.to_excel('cleaned_dataset.xlsx', index=False)